<div class="menu-modal inactive-modal">
    <div class="menu-modal-overlay"></div>
    <div class="menu-modal-container"></div>
</div>

<div class="shop-modal inactive-modal">
    <div class="shop-modal-overlay"></div>
    <div class="shop-modal-container"></div>
</div>