<footer class="footer">
    <div class="footer-item terms" onClick="document.getElementById('terms-modal').style.display='block'">
        <i class="fa-solid fa-book"></i>
        <!-- Hvad med font-awesome? De kan styles
        <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.875 0C1.74375 0 1.63125 0.01875 1.51875 0.05625C0.7875 0.20625 0.20625 0.7875 0.05625 1.51875C0 1.63125 0 1.74375 0 1.875V12.1875C0 13.7437 1.25625 15 2.8125 15H13.125V13.125H2.8125C2.2875 13.125 1.875 12.7125 1.875 12.1875C1.875 11.6625 2.2875 11.25 2.8125 11.25H13.125V0.9375C13.125 0.4125 12.7125 0 12.1875 0H11.25V5.625L9.375 3.75L7.5 5.625V0H1.875Z" fill="#FFFCFC" fill-opacity="0.5"/>
        </svg>
        -->
        <p>Terms</p>
    </div>
    <div class="footer-item privacy" onClick="document.getElementById('privacy-modal').style.display='block'"> 
        <svg width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.42857 0C4.07143 0 2.14286 1.92857 2.14286 4.28571V6.42857H0V15H12.8571V6.42857H10.7143V4.28571C10.7143 1.92857 8.78571 0 6.42857 0ZM6.42857 2.14286C7.62857 2.14286 8.57143 3.08571 8.57143 4.28571V6.42857H4.28571V4.28571C4.28571 3.08571 5.22857 2.14286 6.42857 2.14286Z" fill="white" fill-opacity="0.5"/>
        </svg>  
        <p>Privacy </p>
    </div>
    <div class="footer-item about" onClick="document.getElementById('about-modal').style.display='block'">
        <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M6.56484 0L5.62968 2.22569C5.44264 2.2818 5.27431 2.37531 5.10598 2.46883L2.8803 1.53367L1.53367 2.8803L2.46883 5.10598C2.37531 5.29302 2.3005 5.44264 2.22569 5.62968L0 6.56484V8.43516L2.22569 9.37032C2.3005 9.55736 2.37531 9.70698 2.46883 9.89401L1.53367 12.1197L2.8803 13.4663L5.10598 12.5312C5.27431 12.606 5.44264 12.6995 5.62968 12.7743L6.56484 15H8.43516L9.37032 12.7743C9.53865 12.6995 9.72569 12.6247 9.89402 12.5312L12.1197 13.4663L13.4663 12.1197L12.5312 9.89401C12.606 9.72569 12.6995 9.53865 12.7743 9.37032L15 8.43516V6.56484L12.7743 5.62968C12.7182 5.46135 12.6247 5.27431 12.5312 5.10598L13.4663 2.8803L12.1197 1.53367L9.89402 2.46883C9.72569 2.39401 9.53865 2.3005 9.37032 2.22569L8.43516 0L6.56484 0ZM7.5 4.67581C9.05237 4.67581 10.3055 5.92893 10.3055 7.4813C10.3055 9.03367 9.05237 10.2868 7.5 10.2868C5.94763 10.2868 4.69451 9.03367 4.69451 7.4813C4.69451 5.92893 5.94763 4.67581 7.5 4.67581Z" fill="white" fill-opacity="0.5"/>
        </svg> 
        <p>About</p>
    </div>
    <div class="footer-item settings">
        <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.5 11.25C7.7125 11.25 7.89075 11.178 8.03475 11.034C8.17825 10.8905 8.25 10.7125 8.25 10.5V7.48125C8.25 7.26875 8.17825 7.09375 8.03475 6.95625C7.89075 6.81875 7.7125 6.75 7.5 6.75C7.2875 6.75 7.1095 6.82175 6.966 6.96525C6.822 7.10925 6.75 7.2875 6.75 7.5V10.5187C6.75 10.7312 6.822 10.9063 6.966 11.0438C7.1095 11.1813 7.2875 11.25 7.5 11.25ZM7.5 5.25C7.7125 5.25 7.89075 5.178 8.03475 5.034C8.17825 4.8905 8.25 4.7125 8.25 4.5C8.25 4.2875 8.17825 4.10925 8.03475 3.96525C7.89075 3.82175 7.7125 3.75 7.5 3.75C7.2875 3.75 7.1095 3.82175 6.966 3.96525C6.822 4.10925 6.75 4.2875 6.75 4.5C6.75 4.7125 6.822 4.8905 6.966 5.034C7.1095 5.178 7.2875 5.25 7.5 5.25ZM7.5 15C6.4625 15 5.4875 14.803 4.575 14.409C3.6625 14.0155 2.86875 13.4813 2.19375 12.8063C1.51875 12.1313 0.9845 11.3375 0.591 10.425C0.197 9.5125 0 8.5375 0 7.5C0 6.4625 0.197 5.4875 0.591 4.575C0.9845 3.6625 1.51875 2.86875 2.19375 2.19375C2.86875 1.51875 3.6625 0.98425 4.575 0.59025C5.4875 0.19675 6.4625 0 7.5 0C8.5375 0 9.5125 0.19675 10.425 0.59025C11.3375 0.98425 12.1313 1.51875 12.8063 2.19375C13.4813 2.86875 14.0155 3.6625 14.409 4.575C14.803 5.4875 15 6.4625 15 7.5C15 8.5375 14.803 9.5125 14.409 10.425C14.0155 11.3375 13.4813 12.1313 12.8063 12.8063C12.1313 13.4813 11.3375 14.0155 10.425 14.409C9.5125 14.803 8.5375 15 7.5 15Z" fill="white" fill-opacity="0.5"/>
        </svg>
        <p>Settings</p>
    </div>
    <!-- Terms modal -->
    <div id="terms-modal" class="modal">
        <div class="modal-container">
            <header class="modal-header">
                <button type="button" id="modalCloseButton" class="green-btn" onclick="document.getElementById('terms-modal').style.display='none'">Close</button>
                <h2>Terms</h2>
            </header>
            <div class="modal-content">
                <p>The good stuff</p>
            </div>
        </div>
    </div>
    <!-- Privacy modal -->
    <div id="privacy-modal" class="modal">
        <div class="modal-container">
            <header class="modal-header">
                <button type="button" id="modalCloseButton" class="green-btn" onclick="document.getElementById('privacy-modal').style.display='none'">Close</button>
                <h2>Privacy policy</h2>
            </header>
            <div class="modal-content">
                <p>The good stuff</p>
            </div>
        </div>
    </div>
    <!-- About modal -->
    <div id="about-modal" class="modal">
        <div class="modal-container">
            <header class="modal-header">
                <button type="button" id="modalCloseButton" class="green-btn" onclick="document.getElementById('about-modal').style.display='none'">Close</button>
                <h2>About</h2>
            </header>
            <div class="modal-content">
                <p>The good stuff</p>
            </div>
        </div>
    </div>
</footer>