<footer class="footer">
    <div class="footer-item terms" onClick="document.getElementById('terms-modal').style.display='block'">
        <i class="fa-solid fa-book"></i>
        <!-- Hvad med font-awesome? De kan styles
        <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.875 0C1.74375 0 1.63125 0.01875 1.51875 0.05625C0.7875 0.20625 0.20625 0.7875 0.05625 1.51875C0 1.63125 0 1.74375 0 1.875V12.1875C0 13.7437 1.25625 15 2.8125 15H13.125V13.125H2.8125C2.2875 13.125 1.875 12.7125 1.875 12.1875C1.875 11.6625 2.2875 11.25 2.8125 11.25H13.125V0.9375C13.125 0.4125 12.7125 0 12.1875 0H11.25V5.625L9.375 3.75L7.5 5.625V0H1.875Z" fill="#FFFCFC" fill-opacity="0.5"/>
        </svg>
        -->
        <p>Terms</p>
    </div>
    <div class="footer-item privacy" onClick="document.getElementById('privacy-modal').style.display='block'"> 
        <i class="fa-solid fa-lock"></i>
        <p>Privacy </p>
    </div>
    <div class="footer-item about" onClick="document.getElementById('about-modal').style.display='block'">
        <i class="fa-solid fa-circle-info"></i>
        <p>About</p>
    </div>
    <div class="footer-item settings">
        <i class="fa-solid fa-gear"></i>
        <p>Settings</p>
    </div>
    <% if(version.show) { %>
        <div class="footer-item version">
            <p><%= version.environment + " | " + version.version%></p>
        </div>
    <% } %>

    </div>
    <!-- Terms modal -->
    <div id="terms-modal" class="modal">
        <div class="modal-container">
            <header class="modal-header">
                <button type="button" id="modalCloseButton" class="green-btn" onclick="document.getElementById('terms-modal').style.display='none'">Close</button>
                <h2>Terms</h2>
            </header>
            <div class="modal-content">
                <p>The good stuff</p>
            </div>
        </div>
    </div>
    <!-- Privacy modal -->
    <div id="privacy-modal" class="modal">
        <div class="modal-container">
            <header class="modal-header">
                <button type="button" id="modalCloseButton" class="green-btn" onclick="document.getElementById('privacy-modal').style.display='none'">Close</button>
                <h2>Privacy policy</h2>
            </header>
            <div class="modal-content">
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu sem rhoncus, pharetra velit a, tempor odio. Donec eget purus ut tortor lobortis maximus sed sit amet augue. Duis diam dolor, vulputate id laoreet vitae, dignissim vel velit. Maecenas fermentum libero id sagittis varius. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque et pretium diam. Duis feugiat congue sem, a accumsan sem mollis at. Pellentesque vestibulum tortor vel eleifend consectetur. Proin laoreet odio et fermentum consequat. Nulla tempus eros id urna faucibus elementum in et nulla.
                    Nulla lectus velit, lacinia eget leo nec, convallis luctus ipsum. Donec est sapien, cursus eu luctus nec, euismod eget magna. Nullam laoreet massa pretium, maximus justo vitae, egestas est. In a ex a justo sollicitudin dignissim ut a turpis. Aenean mattis odio varius condimentum malesuada. Morbi eleifend erat malesuada sem condimentum, fringilla dapibus mauris aliquet. Aenean auctor sem augue, eu mattis sapien volutpat et. Integer sed dapibus velit. Sed non ultricies neque. Donec at quam nec augue porta gravida in sit amet quam. Pellentesque elit nisl, sodales ac lobortis in, ullamcorper nec arcu. Donec sit amet scelerisque ligula. Mauris et luctus tortor. Nulla eget fringilla nunc.
                    Morbi lacus velit, dapibus et pharetra a, fermentum sit amet dolor. Vivamus venenatis erat vitae nisi consectetur varius. Ut id nisl in magna euismod euismod eget commodo dolor. Nunc venenatis, neque eu hendrerit placerat, neque libero gravida lectus, eget varius nisl dui eget enim. Integer rutrum diam augue, at elementum arcu varius at. Suspendisse a eleifend nisi, ac iaculis magna. Nullam consequat pretium turpis, non bibendum ex commodo eget. Nullam molestie ultricies lorem, et dictum felis gravida eleifend. Sed in scelerisque mauris. Praesent risus neque, consequat vitae bibendum sed, ultrices ut sem. Duis tempor risus eget odio tincidunt, id semper tellus commodo.
                    
                    Suspendisse quis vestibulum ante, non lobortis magna. Aenean molestie, urna at volutpat rhoncus, orci diam sodales nunc, pharetra interdum leo odio quis elit. Cras dictum vestibulum suscipit. Sed semper metus eget tincidunt volutpat. Sed vitae sapien nec tortor tempor sodales nec id lacus. In in massa nec ipsum volutpat porta vel ut massa. Etiam turpis est, mattis et justo id, semper pretium dui. Fusce a consequat justo, eget varius odio. Vivamus porta et orci a semper. Integer faucibus, ipsum et fringilla ultrices, elit mi dignissim neque, viverra finibus enim augue ac nulla. Proin porttitor bibendum risus, quis condimentum urna fermentum ut. Nunc id diam ut metus vestibulum bibendum eu vitae augue. Donec eu tellus in nibh lacinia gravida. Nulla porta erat vitae tellus dapibus, vel maximus felis luctus. Nunc consequat turpis a placerat mollis. Pellentesque at fringilla enim.
                    
                    Sed mattis aliquam risus vel molestie. Vivamus commodo facilisis dui, vel auctor nibh cursus sed. Etiam scelerisque metus efficitur tortor accumsan auctor. Maecenas dapibus bibendum odio, finibus ultricies nunc varius vel. Curabitur sit amet urna et nunc aliquam porttitor sit amet suscipit diam. Suspendisse ornare lectus iaculis lacus bibendum tincidunt. Sed risus purus, dapibus non feugiat in, condimentum id eros. Donec faucibus efficitur pretium. In condimentum mattis magna, ac commodo purus lacinia eget. Praesent consequat sem ut aliquam bibendum. Curabitur efficitur egestas urna, vitae gravida urna. Phasellus malesuada eleifend pretium. Nunc sed convallis ipsum.
                </p>
            </div>
        </div>
    </div>
    <!-- About modal -->
    <div id="about-modal" class="modal">
        <div class="modal-container">
            <header class="modal-header">
                <button type="button" id="modalCloseButton" class="green-btn" onclick="document.getElementById('about-modal').style.display='none'">Close</button>
                <h2>About</h2>
            </header>
            <div class="modal-content">
                <p>The good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuff
                    The good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuff
                    The good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuff
                    The good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuff
                    The good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuff
                    The good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuff
                    The good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuff
                    The good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuff
                    The good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuff
                    The good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuff
                    The good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuff
                    The good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuff
                    The good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuff
                    The good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuff
                    The good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuffThe good stuff
                </p>
            </div>
        </div>
    </div>
</footer>