<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('header')%>
    <link href="/css/gameMenu.css" rel="stylesheet" /> 
</head>
<body>
    <div class="game-menu-container">
        <div class="header">
            <div class="header-container">
                <div class="icon"></div>
                <div class="user-info">
                    <div class="points"></div>
                    <div class="user-icon"></div>
                    <div class="user-name"></div>
                </div>
            </div>
        </div>
        <div class="main-container">
            <div class="game-btns">
                <button class="red-btn quickplay button-input">
                    Quickplay
                </button>
                <button class="green-btn join button-input">
                    Join Game
                </button>
                <button class="blue-btn create button-input">
                    Create Game
                </button>
            </div>
            <div class="shop">
                <div class="shop-btns">
                    <button class="shop-btn skins-btn">Skins</button>
                    <button class="shop-btn icons-btn">Icons</button>
                </div>
                <div class="content">
                    <%
                        for (let i = 0; i < 9; i++) {
                            if(true) {
                    %>
                        <div class="skin-item">
                            <img src="" alt="skin-item">
                        </div>
                    <% } else { %>
                        <div class="icon-item">
                            <img src="" alt="icon-item">
                        </div>
                    <% }} %>
                </div>
            </div>
        </div>
        <%- include('footer') %>
    </div>
</body>
</html>