<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('header') %>
    <link href="/css/gameArea.css" rel="stylesheet" />
    <script src="/javascript/gameArea.js"></script>
  </head>
  <body>
    <div class="gameContainer">
      <div class="left">
        <div class="roundwrapper">
          <div class="roundcounter">Round 5</div>
          <div class="scoretarget">20</div>
        </div>

        <div class="leaderboard">
          <table class="scoretable">
            <tr>
              <td>1</td>
              <td style="color: red">Luca</td>
              <td>100</td>
            </tr>

            <tr>
              <td>2</td>
              <td style="color: blue">Aneek</td>
              <td>90</td>
            </tr>

            <tr>
              <td>3</td>
              <td style="color: green">Oliver</td>
              <td>80</td>
            </tr>

            <tr>
              <td>4</td>
              <td style="color: purple">Frederik</td>
              <td>70</td>
            </tr>

            <tr>
              <td>5</td>
              <td style="color: pink">Nicolas</td>
              <td>69</td>
            </tr>

            <tr>
              <td>6</td>
              <td style="color: cyan">Farhan</td>
              <td>60</td>
            </tr>

            <tr>
              <td>7</td>
              <td style="color: orange">Martin</td>
              <td>50</td>
            </tr>
          </table>
        </div>
        <div class="chatroom">
          <div class="textbox">
            <ul>
              <li>
                <p>Luca: message</p>
              </li>
              <li>
                <p>Aneek: Hej</p>
              </li>
            </ul>
          </div>
          <form name="chat" action="">
            <input
              name="usermsg"
              placeholder="Chat..."
              type="text"
              id="usermsg"
            />
            <input name="submitmsg" type="submit" id="submitmsg" value="Send" />
          </form>
        </div>
      </div>
      <canvas class="gameCanvas"></canvas>
    </div>
  </body>
</html>
