<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('header') %>
    <link href="/css/gameMenu.css" rel="stylesheet" /> 
</head>
<body>
    <div class="game-menu-container">
        <div class="header">
            <div class="header-container">
                <%- include('../public/assets/icons/Logo.svg') %>
                <div class="user-info">
                    <div class="border-container points">0</div>
                    <i class="fa-solid fa-user icon user-icon"></i>
                    <div class="user-name">Username</div>
                </div>
            </div>
        </div>
        <div class="main-container">
            <div class="game-btns">
                <button class="red-btn quickplay button-input" onclick="location.href = '/gameArea'"">
                    Quickplay
                </button>
                <button class="green-btn join button-input">
                    Join Game
                </button>
                <button class="blue-btn create button-input">
                    Create Game
                </button>
            </div>
            <div class="shop">
                <div class="shop-btns">
                    <button class="shop-btn skins-btn">Skins</button>
                    <button class="shop-btn icons-btn">Icons</button>
                </div>
                <div class="content">
                    <%
                        for (let i = 0; i < 11; i++) {
                            if(true) {
                    %>
                        <div class="skin-item">
                            <img src="" alt="skin-item">
                        </div>
                    <% } else { %>
                        <div class="icon-item">
                            <img src="" alt="icon-item">
                        </div>
                    <% }} %>
                </div>
            </div>
        </div>
        <%- include('footer') %>
    </div>
</body>
</html>