<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('header')%>
    <link href="/css/login.css" rel="stylesheet" />
</head>
<body>
    <div class="login">
        <form>
            <div class="group">
                <input type="text">
                <label>Username</label>
            </div>
            <div class="group">
                <input type="password">
                <label>Password</label>
            </div>
            <div class="group">
                <button type="button" id="loginButton" class="button" onclick="location.href = '/home'">
                    Login
                </button>
            </div>
        </form>
    </div>
    <div class="footer">
        <p> Version: <%= version %> </p>
    </div>
</body>
</html>