<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&display=swap" rel="stylesheet">
    <link href="/css/global.css" rel="stylesheet" />
    <link href="/css/login.css" rel="stylesheet" />
    <script src="/javascript/login.js"></script> 
    <title>Login</title>
</head>
<body>
    <form>
        <div class="group">
            <input type="text"><span class="highlight"></span><span class="bar"></span>
            <label>Username</label>
        </div>
        <div class="group">
            <input type="password"><span class="highlight"></span><span class="bar"></span>
            <label>Password</label>
        </div>
        <div class="group">
            <button type="button" id="loginButton" class="button buttonBlue" onclick="location.href = '/home'">Login
                <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
            </button>
        </div>
    </form>
    <div class="footer">
        <p> Version: <%= version %> </p>
    </div>
</body>
</html>