<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("header")%>
    <link href="/css/login.css" rel="stylesheet" />
    <link href="/css/snackbar.css" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <div class="logo">
            <h1><span style="color: white">LINE</span></h1>
            <h2>
                <span style="color: #a574aa">F</span>
                <span style="color: #5cb1e0">E</span>
                <span style="color: #a9ce3c">V</span>
                <span style="color: #ffce3a">E</span>
                <span style="color: #ef625a">R</span>
            </h2>
        </div>
        <div class="page-wrapper">
            <div class="pages">
                <div class="page guest-page">
                    <form id="guestForm">
                        <div class="input-container">
                            <input class="text-input" type="text" name="guestname" placeholder=" " id="guestname" />
                            <label>Username</label>
                            <i class="fa-solid fa-user icon"></i>
                        </div>
                        <div class="input-container">
                            <button type="button" id="loginButton" class="green-btn button-input" onclick="submitGuest()">
                                PLAY
                            </button>
                        </div>
                    </form>
                    <div class="loginFooter">
                        <p class="link" onClick="slide()">Login / Sign up</p>
                    </div>
                </div>
                <div class="page auth-page">
                    <form id="authForm">
                        <div class="input-container">
                            <input class="text-input" type="text" name="username" placeholder=" " id="username" />
                            <label>Username</label>
                            <i class="fa-solid fa-user icon"></i>
                        </div>
                        <div class="password-wrapper">
                            <div class="input-container">
                                <input class="text-input" type="password" name="password" placeholder=" " id="password" />
                                <label>Password</label>
                                <i class="fa-solid fa-lock icon"></i>
                            </div>
                            <div class="loginOptions">
                                <div class="rememberDiv">
                                    <input type="checkbox" id="rememberMe" />
                                    <label id="remember-label" for="rememberMe">
                                        <span class="link">Remember me</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="input-container">
                            <button type="button" id="loginButton" class="blue-btn" onclick="submitSignup()">
                                Sign up
                            </button>
                            <div style="width: 30px"></div>
                            <button type="button" id="loginButton" class="green-btn" onclick="submitLogin()">
                                Login
                            </button>
                        </div>
                    </form>
                    <div class="loginFooter">
                        <p class="link" onClick="slide()">Play as guest</p>
                    </div>
                </div>
            </div>
        </div>
        <%- include("footer")%>
    </div>
    <% if(error) { %>
    <div id="snackbar"></div>
    <%} %>

    <script>
        const error = "<%= error %>";
    </script>
    <script src="/javascript/snackbar.js"></script>
    <script src="/javascript/login.js"></script>
</body>

</html>