<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("header")%>
    <link href="/css/login.css" rel="stylesheet" />
    <script src="/javascript/login.js" defer></script>
</head>
<body>
    <div class="logo">
        <h1><span style="color: white">LINE</span></h1>
        <h2>
            <span style="color: #A574AA">F</span>
            <span style="color: #5CB1E0">E</span>
            <span style="color: #A9CE3C">V</span>
            <span style="color: #FFCE3A">E</span>
            <span style="color: #EF625A">R</span>
        </h2>
    </div>
    <div class="page-wrapper">
        <div class="pages">
            <div class="page one">
                <div class="login-container">
                    <form>
                        <div class="input-container">
                            <input class="text-input" type="text" placeholder="">
                            <label>Username</label>
                            <i class="fa-solid fa-user icon"></i>
                        </div>
                        <div class="input-container">
                            <button type="button" id="loginButton" class="green-btn button-input" onclick="location.href = '/game-menu'"">
                                PLAY
                            </button>
                        </div>
                    </form>
                    <div class="loginFooter">
                        <p onClick="slide('next')">Login or sign up</p>
                    </div>
                </div>
            </div>
            <div class="page two">
                <div class="login-container">
                    <form>
                        <div class="input-container">
                            <input class="text-input" type="text" placeholder=" ">
                            <label>Email</label>
                            <i class="fa-solid fa-envelope icon"></i>
                        </div>
                        <div class="input-container">
                            <input class="text-input" type="password" placeholder=" ">
                            <label>Password</label>
                            <i class="fa-solid fa-lock icon"></i>
                        </div>
                        <div class="loginOptions">
                            <div class="rememberDiv">
                                <input type="checkbox" id="rememberMe">
                                <label for="rememberMe">Remember me</label>
                            </div>
                            <p id="forgotPassword">Forgot password?</p>
                        </div>
                        <div class="input-container">
                            <button type="button" id="loginButton" class="blue-btn button-input" onclick="location.href = '/home'">
                                SIGN UP
                            </button>
                            <div style="width: 30px"></div>
                            <button type="button" id="loginButton" class="green-btn button-input" onclick="location.href = '/home'">
                                LOGIN
                            </button>
                        </div>
                    </form>
                    <div class="loginFooter">
                        <p onClick="slide('prev')">Play as guest</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("footer")%>
</body>
</html>