<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('header')%>
    <link href="/css/login.css" rel="stylesheet" />
</head>
<body>
    <div class="login-container">
        <form>
            <div class="input-container">
                <input class="text-input" type="text" placeholder="Username">
                <i class="fa-solid fa-user icon"></i>
            </div>
            <div class="input-container">
                <button type="button" id="loginButton" class="button-input" onclick="location.href = '/home'">
                    PLAY
                </button>
            </div>
        </form>
        <div class="loginFooter">
            <p><a href="#">Login </a> or <a href="#">sign up</a></p>        </div>
        </div>
    </div>
</body>
</html>