html {
  font-family: var(--global-font-family);
}

.gameContainer {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 100%;
  height: 100%;
  width: 100%;
  padding: 20px;
}
.gameCanvas {
  position: relative;
  left: 5%;
  grid-column-start: 2;
  grid-column-end: 3;
  border: 5px solid rgba(171, 225, 255, 0.5);
  border-radius: 10px;
}

.left {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 100%;
  width: 100%;
}

.chatroom {
  position: absolute;
  background-color: rgba(171, 225, 255, 0.1);
  border-radius: 10px;
  width: 30%;
  bottom: 10%;
  padding: 10px;
}

#usermsg {
  width: 80%;
}

#submitmsg {
  width: 17%;
  text-align: center;
}

#chat {
  bottom: 100%;
  width: 30%;
}

.textbox {
  color: white;
}

.leaderboard {
  position: relative;
  top: 12%;
  color: white;
  width: 100%;
  left: 0%;
}

td:nth-child(1) {
  width: 20%;
}

td:nth-child(2) {
  width: 60%;
}

td:nth-child(3) {
  width: 20%;
  text-align: right;
}

td {
  padding: 10px;
}

table {
  table-layout: fixed;
  width: 100%;
  border: 2px solid rgba(171, 225, 255, 0.5);
  border-radius: 10px;
}
