html {
    font-family: var(--global-font-family);
}

.game-container {
    display: grid;
    grid-template-columns: minmax(17rem, 20rem) minmax(30rem, 100%);
    grid-template-rows: minmax(30rem, auto);
    height: 100%;
    width: 100%;
    padding: 30px;
    justify-content: center;
}
.game-canvas {
    display: block;
    margin: 0 auto;
    position: relative;
    grid-column-start: 2;
    grid-column-end: 3;
    border: 3px solid rgba(171, 225, 255, 0.5);
    border-radius: 10px;
    background: #00000030;
}

.left {
    padding-right: 10px;

    font-weight: 700;
    font-size: 1.5rem;
    display: grid;
    grid-template-rows: min-content auto 16rem;
    gap: 2rem;
}

.chatroom {
    background-color: rgba(171, 225, 255, 0.05);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-rows: auto min-content;
    gap: 1rem;
    padding: 0.75rem;
}

#usermsg {
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 5px;

    padding: 5px;
    color: rgba(255, 255, 255, 0.5);
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

#submitmsg {
    border: none;
    background: none;
    position: absolute;
    right: 14px;
    bottom: 13px;
}

#submitmsg:hover {
    cursor: pointer;
}

.textbox {
    color: white;
    font-size: 1rem;
    list-style: none;
    overflow: auto;
    height: 100%;
    word-wrap: break-word;
}

.textbox li {
    padding-bottom: 0.5rem;
}

.leaderboard {
    position: relative;
    top: 0%;
    color: white;
    width: 100%;
    left: 0%;
}

.scoretable {
    background-color: transparent;
    border: hidden;
    position: relative;
    overflow: hidden;
    padding: 0.75rem;
}

.player {
    display: grid;
    grid-template-columns: 1.5rem 12rem repeat(2, auto);
    grid-auto-rows: 3rem;
    row-gap: 1rem;
    align-items: center;
}

.playerIcon {
    grid-column: 1;
}

.playerName {
    grid-column: 2;
}

.playerScore {
    grid-column: 3;
}

.roundwrapper {
    display: flex;
    justify-content: space-between;
}

.roundcounter {
    line-height: 60px;
    position: relative;
    top: 0;
    left: 0%;
    color: white;
}

.scoretarget {
    background-color: var(--green-btn);
    color: white;
    text-align: center;
    width: 60px;
    height: 60px;

    font-size: 40px;
    line-height: 60px;

    justify-self: flex-end;

    box-shadow: 0px 4px 0px #004a0c;
    border-radius: 10px;
}

.canvas-container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-game-container {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#warmup-btn {
    padding: 0 1rem;
    max-height: 4rem;
    max-width: fit-content;
    z-index: 100;
    text-align: center;
}

.game-winner-container {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; /* Set the flex direction to column */
    justify-content: center;
    align-items: center;
}

.round-winner-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; /* Set the flex direction to column */
    justify-content: center;
    align-items: center;
}

#round-winner-text {
    padding: 1rem;
    max-height: 4rem;
    max-width: 80%;
    z-index: 100;
    text-align: center;
    color: #ffffff; /* Set the text color to white */
    font-size: 2rem; /* Increase the font size */
    font-weight: bold; /* Add bold font weight */
}

#game-winner-text {
    padding: 1rem;
    max-height: 4rem;
    max-width: 80%;
    z-index: 100;
    text-align: center;
    color: #ffffff; /* Set the text color to white */
    font-size: 2rem; /* Increase the font size */
    font-weight: bold; /* Add bold font weight */
}

#leave-game-btn {
    padding: 0 1rem;
    max-height: 4rem;
    max-width: fit-content;
    z-index: 100;
    text-align: center;
    margin-top: 1rem;
}

.loading {
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
