.game-menu-container {
    position: relative;
    display: grid;
    height: 100vh;
    grid-template-rows: 6rem minmax(30rem, calc(100% - 8rem)) 2rem;
    grid-template-columns: 10% minmax(20rem, auto) 10%;
}

.header {
    width: 100%;
    height: 100%;
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: center;
}

.header-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

.game-btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25%;
    margin: auto 0;
    gap: 1rem;
}

.shop-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    pointer-events: none;
    transition: all ease 0.2s;
    z-index: 100;
}

.quickplay,
.join,
.create,
.shop-game-btn {
    max-width: 15rem;
    min-width: 10rem;
    max-height: 4.5rem;
    min-height: 3rem;
    font-size: x-large;
    line-height: normal;
}

.shop-game-btn {
    display: none;
}
.shop-cross {
    display: none !important;
}

.main-container {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    gap: 2rem;
    grid-template-columns: minmax(11rem, 40rem) minmax(22rem, 40rem);
    justify-items: center;
    justify-content: center;
}

.shop {
    background: linear-gradient(
        125.56deg,
        rgba(164, 159, 255, 0.05) 0.65%,
        rgba(49, 86, 183, 0.15) 99.35%
    );
    box-shadow: 0px 4px 15px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: grid;
    grid-template-columns: minmax(16rem, 30rem);
    grid-template-rows: 2.5rem 22rem;
    margin: auto 0;
    z-index: 500;
}

.shop-btns {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 5rem;
}

.shop-btn {
    border: none;
    background: none;
    font-size: x-large;
    font-size: bold;
    cursor: pointer;
    transition: ease all 0.15s;
    color: rgba(255, 255, 255, 0.5);
}

.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 28%;
    justify-items: center;
    align-items: center;
    gap: 1.5rem 1.5rem;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-right: 1px;
    margin-bottom: 1rem;
    overflow-y: scroll;
    padding-right: 1rem;
}

@keyframes moveUp {
    from {
        /* transform: translateY(calc(-50% + 1rem)); */
        opacity: 0;
    }
    to {
        /* transform: translateY(-50%); */
        opacity: 1;
    }
}

@media (max-width: 45em) {
    .content {
        grid-template-columns: repeat(2, 1fr);
    }
    .main-container {
        grid-template-columns: minmax(11rem, 15rem) minmax(10rem, 30rem);
    }
    .shop-btns {
        gap: 2.5rem;
    }
}
@media (max-width: 35em) {
    .shop {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        background: #153a56;
        top: 50%;
        transform: translateY(-50%);
        margin: 1rem;
    }
    .content {
        grid-template-columns: repeat(3, 1fr);
    }
    .show-mini-shop {
        visibility: visible;
        transition: opacity 0.2s ease;
        opacity: 1;
        /* animation: moveUp 0.2s ease-in-out; */
    }
    .show-mini-shop ~ .shop-overlay {
        opacity: 1;
        pointer-events: initial;
    }
    .main-container {
        grid-template-rows: 100%;
        grid-template-columns: minmax(11rem, 20rem);
    }
    .header-container {
        gap: 1rem;
    }
    .game-btns {
        height: 35%;
    }
    .shop-game-btn {
        display: block;
    }
    .shop-cross {
        display: block !important;
    }
}
@media (max-width: 21.85em) {
    .content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 31.25em) {
    .logo-icon,
    .user-icon,
    .user-info,
    .user-name {
        max-width: 100%;
        min-width: 0;
    }
}

.active {
    color: rgba(255, 255, 255, 0.85);
}

.shop-btn:hover,
.skins-btn:hover {
    color: rgba(255, 255, 255, 1);
}

.shop-item {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(171, 225, 255, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    cursor: pointer;
    transition: all ease 0.15s;
    display: flex;
    justify-content: center;
}
.shop-item:hover {
    border: 2px solid rgba(171, 225, 255, 1);
}

.shop-item-img {
    height: 100%;
    max-width: 100%;
}

.icon-item {
    display: flex;
    align-self: center;
    font-size: 4rem;
    align-items: center;
}

.fa-poo {
    color: #804000;
}

.footer {
    grid-area: 3/2/4/3;
}

@media (max-width: 21.85em) {
    .footer-item-text {
        display: none;
    }
}

.user-info {
    display: grid;
    grid-template-columns: 3rem 2rem max-content;
    grid-template-rows: 2rem;
    gap: 0.5rem;
    justify-items: center;
    align-items: center;
    min-width: max-content;
}

.points {
    color: rgba(145, 248, 255, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 500;
}

.user-icon {
    color: var(--half-transparent);
    font-size: 1.5rem;
}

.user-name {
    color: var(--half-transparent);
    font-size: 1.5rem;
}

.logo-icon {
    height: 3.5rem;
}

.logo {
    background: transparent;
    border: 0;
    cursor: pointer;
}
