.gameContainer {
  display: grid;
  grid-template-columns: 25% 75%;
}

.gameCanvas {
  position: absolute;
  width: 75%;
  height: 95%;
  left: 23%;
  top: 1%;

  border: 5px solid rgba(171, 225, 255, 0.5);
  border-radius: 10px;
}

.leaderboard {
  position: absolute;
  width: 10%;
  height: 10%;
  left: 2%;
  top: 10%;
  justify-content: space-between;
}

.grid-container {
  display: grid;
  column-gap: 50px;
}

h3 {
  position: relative;
  z-index: 2;
  display: block;
}

.chatroom {
  position: absolute;
  width: 20%;
  bottom: 3%;
}

.chat {
  display: flex;
  justify-content: space-between;
}

input {
  width: 90%;
}

button {
  width: 10%;
}

.textbox {
}
