.game-menu-container {
    position: relative;
    display: grid;
    height: 100vh;
    grid-template-rows: 6rem minmax(30rem, calc(100% - 8rem)) 2rem;
    grid-template-columns: 10% auto 10%;
}

.header {
    width: 100%;
    height: 100%;
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: center;
}

.header-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

.game-btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25%;
    margin: auto 0;
    gap: 1rem;
}

.quickplay,
.join,
.create {
    max-width: 15rem;
    min-width: 10rem;
    max-height: 4.5rem;
    min-height: 2.5rem;
    font-size: x-large;
    line-height: normal;
}

.main-container {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    gap: 2rem;
    grid-template-columns: minmax(11rem,45rem) minmax(22rem,45rem);;
    justify-items: center;
    justify-content: center;
}

.footer {
    grid-row: 3;
    grid-column: 2;
    margin-left: 24.2%;
}

.shop {
    max-width: 32rem;
    background: linear-gradient(125.56deg, rgba(164, 159, 255, 0.05) 0.65%, rgba(49, 86, 183, 0.15) 99.35%);
    box-shadow: 0px 4px 15px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: grid;
    grid-template-columns: minmax(20rem, 30rem);
    grid-template-rows: 2.5rem 22rem;
    margin: auto 0;
}

.shop-btns {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.shop-btn {
    border: none;
    background: none;
    font-size: x-large;
    font-size: bold;
    cursor: pointer;
    transition: ease all .15s;
    color: rgba(255, 255, 255, 0.5);
}

.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 28%;
    justify-items: center;
    align-items: center;
    gap: 1.5rem 1.5rem;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    overflow-y: scroll;
}

.active { color: rgba(255, 255, 255, 0.85);}

.shop-btn:hover,
.skins-btn:hover {
    color: rgba(255, 255, 255, 1);
}

.icon-item,
.skin-item {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(171, 225, 255, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.user-info {
    display: grid;
    grid-template-columns: 3rem 2rem max-content;
    grid-template-rows: 2rem;
    gap: .5rem;
    justify-items: center;
    align-items: center;
}

.points {
    color: rgba(145, 248, 255, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 500;
}

.user-icon {
    color: var(--half-transparent);
    font-size: 1.5rem;
}

.user-name {
    color: var(--half-transparent);
    font-size: 1.5rem;
}

.logo-icon {
    height: 3.5rem;
}