:root {
  --global-font-family: Verdana, sans-serif;
}

body {
  /* Background */
  background: linear-gradient(116.82deg, #062235 16.04%, #163f56 78.55%);
}
/*
.button {
    width: 316px;
    height: 59px;

    filter: drop-shadow(0px 4px 0px #007C05);
}

*/
