body {
    animation: 0.5s ease-out 0s 1 slideInFromLeft;
}

.login-container {
    display:flex;
    flex-direction: column;
    width: 350px;
    height: 300px;
    margin: auto;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--global-font-family);
    margin-top: 70px;
    margin-bottom: 50px;
}
.logo h1 {

    font-size: 100px;
}
.logo h2 {

    display: flex;
    font-size: 75px;
}

.logo span {
    display: block;
    line-height: 90% !important;

}

.login-container div:nth-child(2) {
    margin-bottom: 10px !important;
}


.loginOptions {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    margin: 0px;
    color: white;
}


.loginOptions p:hover {
    color: rgba(255, 255, 255, 0.2);
    text-decoration: underline;
}

.loginFooter {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.2);
}

.loginFooter a {
    color: #fff;
    text-decoration: none;
}

.loginFooter a:hover {
    color: rgba(255, 255, 255, 0.2);
    text-decoration: none;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }