/* Page setup */
.page-wrapper {
    --page-size: 30rem;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.pages {
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, var(--page-size));
    justify-content: center;
    transform: translateX(15rem);
    transition: all ease 0.2s;
}

.slide-left {
    transform: translateX(calc((var(--page-size) / 2) * -1)) !important;
}

.slide-left > :first-child {
    visibility: hidden;
    opacity: 0;
}
.slide-left > :last-child {
    visibility: initial !important;
    opacity: 1 !important;
}

.two {
    visibility: hidden;
    opacity: 0;
}

.page {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    transition: all ease 0.2s;
}
/* End page */

/* Logo styling */

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--global-font-family);
    margin-top: 70px;
    margin-bottom: 50px;
}
.logo h1 {
    font-size: 100px;
}
.logo h2 {
    display: flex;
    font-size: 75px;
}

.logo span {
    display: block;
    line-height: 90% !important;
}

/* End logo */

.login-container {
    width: 75%;
    max-width: 350px;
    height: auto;
    vertical-align: top;
}

.login-container div:nth-child(2) {
    margin-bottom: 10px !important;
}

/* Forgot password & remember */

.loginOptions {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    margin: 0px;
    color: white;
}

.loginOptions p:hover {
    color: rgba(255, 255, 255, 0.2);
    text-decoration: underline;
}

/* end */

/* Login form footer */
.loginFooter {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.2);
}

.loginFooter p {
    color: #fff;
    text-decoration: none;
}

.loginFooter p:hover {
    color: rgba(255, 255, 255, 0.2);
    text-decoration: none;
}

/* End footer */

/* Scnackbar */

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}
