.login-container {
    display:flex;
    flex-direction: column;
    width: 350px;
    height: 300px;
    margin: auto;
}


.text-input {
    border: 1px solid grey;
    background: rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.2);
}

.button-input {
    background-color: rgba(169, 206, 60, 0.75);
    filter: drop-shadow(0px 4px 0px #007C05);
}

.loginFooter {
    display: inline-flex;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.2);
}

.loginFooter a {
    color: #fff;
    text-decoration: none;
}

.loginFooter a:hover {
    color: rgba(255, 255, 255, 0.2);
    text-decoration: none;
}