.menu-modal {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4000;
    padding: 10px;
    opacity: 1;
    transition: opacity ease 0.2s;
}
.menu-modal-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}
.menu-modal-container {
    position: relative;
    height: 20rem;
    width: 30rem;
    background: var(--bg-col);
    border-radius: 10px;
    box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0 7.5%;
    transition: transform ease 0.2s;
}

.modal-cross {
    position: absolute;
    right: 5px;
    top: 5px;
    height: 2rem;
    width: 2rem;
    font-size: 1.5rem;
    color: var(--low-contrast);
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    transition: all ease 0.12s;
}
.modal-cross:hover {
    color: var(--half-transparent);
}

.menu-modal-btns {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.modal-shop-item {
    width: auto !important;
    min-width: 6rem;
    height: 5.5rem !important;
}

.menu-modal-text {
    color: rgba(255, 255, 255, 0.85);
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
}

.menu-modal-input-container {
    display: flex;
    position: relative;
    width: 100%;
    z-index: 1;
    color: rgba(255, 255, 255, 0.8);
}

.menu-modal-input-container i {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    right: 1rem;
    font-size: 1.75rem;
    z-index: 1;
    color: rgba(255, 255, 255, 0.8);
}

.inactive-modal {
    pointer-events: none;
    opacity: 0;
}
.inactive-modal .menu-modal-container {
    transform: translateY(1rem);
}

.shopModal-cross {
    position: absolute;
    right: 5px;
    top: 5px;
    height: 2rem;
    width: 2rem;
    font-size: 1.5rem;
    color: var(--low-contrast);
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    transition: all ease 0.12s;
}
.shopModal-cross:hover {
    color: var(--half-transparent);
}

.shop-modal-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.shopModal {
    max-width: 32rem;
    background: var(--bg-col);
    box-shadow: 0px 4px 15px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: grid;
    grid-template-columns: minmax(25rem, 30rem);
    grid-template-rows: 2.5rem 21rem;
    margin: auto 0;
    align-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    position: absolute;
    z-index: 3000;
}

@media screen and (min-width: 35em) {
    .shopModal,
    .shop-modal-overlay {
        display: none;
    }
}

.shop-modal-container {
    transition: transform ease 0.2s;
    background: linear-gradient(
        125.56deg,
        rgba(164, 159, 255, 0.05) 0.65%,
        rgba(49, 86, 183, 0.15) 99.35%
    );
}

.modalContent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 28%;
    justify-items: center;
    align-items: center;
    gap: 1.5rem 1.5rem;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-right: 1px;
    margin-bottom: 1rem;
    overflow-y: scroll;
    padding-right: 1rem;
}
