.popup-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 2rem 26rem 2rem;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-content: center;
    background: var(--bg-col);
    width: 95%;
    max-width: 30rem;
    border-radius: 10px;
    height: 22rem;
  }

  .close-button {
    grid-column: 3;
    grid-row: 1;
    justify-self: end;
    align-self: start;
    margin: 0.5rem;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.25);
    font-weight: bold;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
  }

  .pop-up-item {
    grid-area: 1/2/2/3;
    width: 32.4%;
    height: 76%;
    margin: auto;
  }

  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
  }

  #overlay:active {
    opacity: 1;
    pointer-events: all;
  }

  .buy-btn{
    grid-area: 3/2/3/3;
    width: 40%;
    height: 30%;
    max-width: 15rem;
    min-width: 10rem;
    max-height: 4.5rem;
    min-height: 3rem;
    font-size: x-large;
    line-height: normal;
    margin: auto;
  }