.popup-container {
    display: grid;
    grid-template-rows: repeat(3 , 10rem);
    grid-template-columns: 5% auto 5%;
    background-color: #1f5b7c;
    margin: 10vh auto;
    border: 1px solid #888;
    width: 95%;
    max-width: 800px;
    border-radius: 10px;
    max-height: 80vh;
    overflow: hidden;
    word-wrap: break-word;
  }